<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="/static/styles/product.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/images/hr.png">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/static/images/hr.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            HRMS - Human Resource Management System
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Add
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/skill">Skills</a></li>
                  <li><a class="dropdown-item" href="/certification">Certification</a></li>
                  <li><a class="dropdown-item" href="/course">Course</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/empreport">Reports</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      

      <main>
      
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
          <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
              <h2 class="display-5">Employee Details</h2>
            </div>
            <div class="bg-body-tertiary shadow-sm mx-auto text-body" style="width: 80%; height: 500px; border-radius: 21px 21px 0 0;">
                <table class="table">
                    <thead>
                      <tr>
                        <th colspan="2">Details</th>                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Name</th>
                        <td>{{emp['Name']}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Experience</th>
                        <td>{{emp['Experience']}} years</td>
                      </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                          <th colspan="2">Education</th>                        
                        </tr>
                      </thead>
                    <tbody>
                    {%for e in education%}
                      <tr>
                        <th scope="row">Qualification</th>
                        <td>{{e['DegreeName']}}</td>
                      </tr>
                      <tr>
                        <th scope="row">University</th>
                        <td>{{e['University']}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Year Of Graduation</th>
                        <td>{{e['YearOfGraduation']}}</td>
                      </tr>
                      {%endfor%}
                    </tbody>
                </table>
                      
                    
            </div>
          </div>
          <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
              <h2 class="display-5">Project</h2>
            </div>
            <div class="bg-body-tertiary shadow-sm mx-auto text-body" style="width: 80%; height: 500px; border-radius: 21px 21px 0 0;">
                {%for p in project%}
                <table class="table">
                    <thead>
                      <tr>
                        <th colspan="2">Project {{loop.index}}</th>                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Project Name</th>
                        <td>{{p['ProjectName']}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Project Description</th>
                        <td>{{p['ProjectDescription']}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Start Date</th>
                        <td>{{p['StartDate']}}</td>
                      </tr>
                      <tr>
                        <th scope="row">End Date</th>
                        <td>{{p['EndDate']}}</td>
                      </tr>
                    </tbody>
                </table>
                {%endfor%}
            </div>
          </div>
        </div>
      
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
              <div class="my-3 py-3">
                <h2 class="display-5">Skills</h2>
              </div>
              <div class="bg-body-tertiary shadow-sm mx-auto text-body" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <table class="table">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Skill Name </th>
                        <th>Years of Experience</th>                        
                      </tr>
                    </thead>
                    {%for s in skill%}
                    <tbody>
                      <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{s['SkillName']}}</td>
                        <td>{{s['YearsOfExperience']}}</td>
                      </tr>
                    </tbody>
                    {%endfor%}
                </table>
                
              </div>
            </div>
            <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                  <h2 class="display-5">Certifications</h2>
                </div>
                <div class="bg-body-tertiary shadow-sm mx-auto text-body" style="width: 80%; height: 500px; border-radius: 21px 21px 0 0;">
                    <table class="table">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>Certification Name </th>
                            <th>Certification Date</th>                        
                          </tr>
                        </thead>
                        {%for c  in certification%}
                        <tbody>
                            <tr>
                              <th scope="row">{{loop.index}}</th>
                              <td>{{c['CertificationName']}}</td>
                              <td>{{c['CertificationDate']}}</td>
                            </tr>
                        </tbody>
                        {%endfor%}
                    </table>
                </div>
              </div>
          </div>

          <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
              <div class="my-3 py-3">
                <h2 class="display-5">Training</h2>
              </div>
              <div class="bg-body-tertiary shadow-sm mx-auto text-body" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <table class="table">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Course Name</th>
                        <th>Course Description</th> 
                        <th>Course Date</th> 
                      </tr>
                    </thead>
                    {%for t in training%}
                    <tbody>
                      <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{t['TrainingName']}}</td>
                        <td>{{t['TrainingDescription']}}</td>
                        <td>{{t['TrainingDate']}}</td>
                      </tr>
                    </tbody>
                    {%endfor%}
                </table>
                
              </div>
            </div>
            
          
          </div>
      </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>